@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --animate-delay: 0.5s;
}



@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: 'Noto Sans Arabic', sans-serif;
    color: #333;
    background-color: #f8f8f8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  p {
    margin-bottom: 1em;
  }
}



#hero {
  background-image: url('/img/hero.webp');
}

.hero__cards {
  @apply bg-white/30 backdrop-blur-lg w-56 h-64 rounded-sm p-1 hover:backdrop-blur-xl transition-all cursor-pointer;
}

.features__cards--card {
  @apply w-72 h-96 bg-red-500 rounded-sm;
}

.mainSelectors__new--item {
  @apply cursor-pointer border-b border-b-transparent transition-colors;
}

input[type="radio"]:checked~.mainSelectors__new--item {
  @apply border-b-gray-800;
}